<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>
    <div th:replace="/fragment/header :: header-css"/></div>
    <meta name='viewport' content='width=device-width' />

</head>
<body>
<script src="/js/main.js"></script>

<div th:replace="/fragment/header :: header"/></div>

<div class="container">
    <div class="starter-template">
        <h1> Users </h1>

         <table class = "table table-bordered size">
            <tr>
                <th><input type="checkbox" id="selectAll" onclick="selectAll()" /></th>
                <th scope="col">ID</th>
                <th scope="col">name</th>
                <th scope="col">email</th>
                <th scope="col">status</th>
            </tr>
            <tr th:each="user:${users}" name="userRow">
                <td><input type="checkbox" name="raz"/></td>
                <td th:text="${user.getId()}"></td>
                <td th:text="${user.getUsername()}"></td>
                <td th:text="${user.getEmail()}"></td>
                <td th:text="${user.getStatus()}"></td>
            </tr>
        </table>
        <button id="blockUsers" type="submit" onclick="sendUsers('/admin/block')">Block</button>
        <button id="unblockUsers" type="submit" onclick="sendUsers('/admin/unblock')">Unblock</button>
        <button id="deleteUsers" type="submit" onclick="sendUsers('/admin/delete')">Delete</button>
    </div>
</div>

<div th:replace="/fragment/footer :: footer"/></div>

</body>
</html>